<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ControllerDemo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AddLeagueServlet</servlet-name>
		<servlet-class>controller.AddLeagueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLeagueServlet</servlet-name>
		<url-pattern>/admin/AddLeagueServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddLeagueFormServlet</servlet-name>
		<servlet-class>view.AddLeagueFormServlet</servlet-class>
		<init-param>
		<param-name>seasons-list</param-name>
		<param-value>Spring,Summer,Autumn,Winter</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLeagueFormServlet</servlet-name>
		<url-pattern>/admin/AddLeagueFormServlet</url-pattern>
	</servlet-mapping>



	<!-- <servlet> <servlet-name>ErrorPageServlet</servlet-name> <servlet-class>view.ErrorPageServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>ErrorPageServlet</servlet-name> 
		<url-pattern>/admin/ErrorPageServlet</url-pattern> </servlet-mapping> -->
	<servlet>
		<servlet-name>SuccessServlet</servlet-name>
		<servlet-class>view.SuccessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SuccessServlet</servlet-name>
		<url-pattern>/admin/SuccessServlet</url-pattern>
	</servlet-mapping>
</web-app>